.card {
  width: 300px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  float: left;
  margin: 80px;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  margin-left: 10%;
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.card h2 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.card p {
  text-align: center;
  font-size: 16px;
  color: rgb(35, 35, 35);
}
